<!-- src/components/_template.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stitch — [Nom du composant]</title>
</head>

<body>

  <div id="header-placeholder"></div>

  <div class="st-docs-layout">
    <div id="sidebar-placeholder"></div>

    <main class="st-docs-content">
      <!-- Contenu spécifique au composant -->
    </main>
  </div>

  <script type="module" src="/src/js/main.js"></script>
  <script type="module" src="/src/js/header.js"></script>
  <script type="module" src="/src/js/sidebar.js"></script>
</body>

</html>